name: Build and Push Image to GHCR

on:
  push:
    branches: ["main"]

permissions:
  contents: write
  packages: write

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}

jobs:
  build-and-push-image:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0 # required for tagging

      - name: Extract version from package.json
        id: version
        run: |
          VERSION=$(jq -r '.version' app/package.json)
          echo "version=$VERSION" >> $GITHUB_OUTPUT

      - name: Log in to the Container registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and push Docker image (with cache)
        uses: docker/build-push-action@v6
        with:
          context: ./app
          file: ./app/Containerfile
          push: true
          tags: |
            ghcr.io/a-zurcher/lighthouse-api:latest
            ghcr.io/a-zurcher/lighthouse-api:${{ steps.version.outputs.version }}
          platforms: linux/amd64
          cache-from: type=gha
          cache-to: type=gha,mode=max

      - name: Create Git tag (if not exists)
        run: |
          TAG=v${{ steps.version.outputs.version }}
          if git rev-parse "$TAG" >/dev/null 2>&1; then
            echo "Tag $TAG already exists"
          else
            git tag "$TAG"
            git push origin "$TAG"
          fi
